body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.wrapper {
    width: 90%;
    max-width: 360px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5%;
    margin: 10% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
    margin-bottom: 5%;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 2%;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 3%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.has-error .form-control {
    border-color: #ff0000;
}

.help-block {
    color: #ff0000;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 3% 6%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-default {
    background-color: #ccc;
    color: #333;
}

.btn-default:hover {
    background-color: #b3b3b3;
}

/* Additional styles for post.php page */
.container {
    text-align: center;
}

.container form {
    margin-bottom: 20px;
}

.questions {
    text-align: left;
}

.question {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question p {
    margin-bottom: 10px;
}

.question form {
    margin-top: 10px;
}

.question textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.question input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.question input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional styles for about.php page */
.container {
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 75px; 
    color: #007bff;
}

.container p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #555; 
}

.container p:hover {
    color: #0056b3;
}


/* Additional styles for index.php/home page */
.container {
    text-align: center;
    margin-top: 50px;
    border: 2px solid #007bff; 
    border-radius: 20px; 
    padding: 20px; 
}

.container a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 100px;
    text-decoration: none;
    color: #007bff;
    transition: transform 0.3s ease;
}

.container a:hover {
    color: #0056b3;
    transform: scale(1.1);
}


