/* Default styles for .wrapper */
.wrapper {
    width: 100%; 
    max-width: 80%; 
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5%;
    margin: 10% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media query for desktop devices with min-width 992px */
@media (min-width: 992px) {
    .wrapper {
        max-width: 55%; 
    }
}

/* Additional form styles */
.wrapper h2 {
    margin-bottom: 5%;
    text-align: center;
    color: black; 
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 2%;
    color: #000000; 
}

.form-control {
    width: 100%;
    padding: 3%;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #000000; 
    background-color: #333; 
    color: #fff; 
}

.has-error .form-control {
    border-color: #ff0000;
}

.help-block {
    color: #ff0000;
    font-size: 14px;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 3% 6%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.btn-primary {
    background-color: #000000; 
}

.btn-primary:hover {
    background-color: #c2c2c2; 
}

.btn-default {
    background-color: #ccc; 
    color: #000000; 
}

.btn-default:hover {
    background-color: #c2c2c2; 
}

/* Additional styles for post.php page */
.container {
    text-align: center;
}

.container form {
    margin-bottom: 20px;
}

.questions {
    text-align: left;
}

.question {
    background-color: #c2c2c2;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question p {
    margin-bottom: 10px;
}

.question form {
    margin-top: 10px;
}

.question textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.question input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000; 
}

.question input[type="submit"]:hover {
    background-color: #c2c2c2; 
}

/* Additional styles for about.php page */
.container.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #000000;
}

.about-section {
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 50%;
    background-color: #c2c2c2;
    padding: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    max-width: 85%;
    max-height: 45%;
}

.container.about-page h1 {
    margin-bottom: 20px;
    font-size: 75px;
    color: #c2c2c2;
}

.container.about-page p {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
}

.container.about-page p:hover {
    color: #c2c2c2;
}

/* Additional styles for post listing */
.posts {
    margin-top: 20px;
}

.post {
    background-color: white;
    border: 3px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.post h2 {
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.post a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.post a:hover {
    color: #c2c2c2;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19%;
    /* background-color: #333; Dark grey background */
    /* border-radius: 20px; Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    /* margin-left: 1%;
    margin-right: 1%; */
}

.navbar a {
    /* color: #000000; White text color */
    margin-right: 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #c2c2c2;
    color: #000000; /* Light grey hover color */
    border-radius: 25px; /* Rounded corners */

}

.navbar-brand {
    /* color: #000000; White text color for brand */
    font-weight: bold; /* Bold font for brand */
    text-decoration: none;
}

.navbar-toggler {
    border: none; /* Remove border */
    background-color: transparent; /* Transparent background */
    cursor: pointer;
}

.navbar-toggler-icon {
    width: 24px; /* Set width */
    height: 24px; /* Set height */
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>'); /* Custom SVG icon */
    background-repeat: no-repeat;
    background-size: contain;
}